<div class="bg-heliotrope-100 text-heliotrope-900 dark:bg-heliotrope-600 dark:text-white rounded-md p-8">
  <span class="text-xl">Adjust and submit your settings <span class="inline lg:hidden">above</span><span class="hidden lg:inline">on the left</span> to retrieve results</span>
</div>
