<div class="bg-white dark:bg-gray-700 rounded-md">
  <%= turbo_frame_tag "new-contact-request" do %>
    <div class="bg-red-200 text-red-500 rounded-t-md py-8 px-4 ">
      <span class="text-xl">Sorry, <%= sal_over_limit_message %>. If you have an account, please <%= link_to "login", new_session_path, class: "text-red-900 underline", data: { turbo: false } %> to access all data. Or, get in touch with our team for further access</span>
    </div>
    <div class="py-10 px-4 ">
      <%= render partial: "contact_requests/form" %>
    </div>
  <% end %>
</div>