<% @builder.display_attributes.each do |attribute| %>
  <th scope="col" class="px-6 py-3">
    <div>
      <%= change_order_link_to(attribute) %>

      <% if currently_ordered_by_attribute?(attribute) %>
        <%= order_arrow_icon(css_class: 'inline-block mx-2') %>
      <% end %>
    </div>
  </th>
<% end %>
