<div data-modal-target="container" data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard" class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center mx-5 md:mx-0" style="z-index: 9999;">
  <!-- Modal inner container -->
  <div class="max-w-lg max-h-screen w-full relative">
    <!-- Modal card -->
    <div class="px-2 py-2 bg-white rounded rounded-lg shadow">
      <%= turbo_frame_tag target_id, class: 'modal-form' %>
    </div>
  </div>
</div>
