<% @presenter.display_rows.each do |row| %>
  <tr class="bg-white hover:bg-gray-50 dark:bg-gray-500 dark:hover:bg-gray-400 text-gray-800 dark:text-white border-b border-gray-300 dark:border-gray-600">
    <% row.each.with_index do |col_val, idx| %>
      <% if @presenter.grouped? && idx == 0 %>
        <th scope="col" class="px-6 py-4">
          <%= col_val %>
        </th>
      <% else %>
        <td class="px-6 py-4"><%= col_val %></td>
      <% end %>
    <% end %>
  </tr>
<% end %>
