<% content_for :title, "New account" %>

<div class="w-11/12 md:w-5/6 mx-auto w-full py-8 px-3 md:px-0">
  <div>
    <%= link_to "See all accounts", accounts_path, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  </div>
  <div class="mt-12 bg-white dark:bg-gray-800 text-gray-800 dark:text-white border border-gray-300 dark:border-gray-900 shadow rounded-md p-6">      
    <h1 class="font-bold text-4xl">Create new account</h1>
    <div class="mt-12">
      <%= render "form", account: @account %>
    </div>
  </div>
  
</div>
